@import "./misc.scss";
@import "./home.scss";
@import "./chart.scss";

$primary: #f9c784;
$secondary: #9d695a;

body {
  background-color: $secondary;
}

.app {
  margin: 10px;
  background-color: $primary;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .cont {
    border-top: 2px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  height: 10vh;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;

    button {
      border-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        transform: scale3d(0.9, 0.9, 1);
        transition-duration: 0.3s;
        border-color: black;
      }
    }
  }
}
